.discussion {
	@include card(0px);
	
	text-align: center;
	min-height: 131px;

	.content {
		padding: 25px 25px 10px;
		text-transform: uppercase;
		font-family: $roboto_slab;
		font-weight: 700;
		font-size: 2.1rem;

		input {
            width: 100%;
			font-size: 2.1rem;
			border: none;
			border-bottom: 2px solid #333;
			color: #333;
			padding: 3px 0;
			outline: none;
			background-color: rgba(0, 0, 0, 0);
			text-align: center;
		}

		::-webkit-input-placeholder { /* WebKit browsers */
		    color: #767676;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color: #767676;
		   opacity:  1;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
		   color: #767676;
		   opacity:  1;
		}
		:-ms-input-placeholder { /* Internet Explorer 10+ */
		   color: #767676;
		}
	}

	footer {
		padding: 10px 25px 25px;
		font-size: 1.8rem;
	}
}

.jds-model-override {
	
	top: 50%;
	margin-top: -125px;
	width: 100%;

	

	.modal-content {
		border-radius: 0;
		padding: 0 0 15px;	
		text-align: center;

		h1 {
			margin-bottom: 15px;
		}
	}
}
