.question {
    @include card(0px);
    .content {
        background-color: #ecf0f1;
        display: flex;
        padding: 25px 25px 10px;
        p {
            flex: 2;
            font-family: $roboto_slab;
            font-size: 2.1rem;
        }
        .icons {
            flex: 1;
            .fa {
                &:hover {
                    cursor: pointer;
                    color: $accent-color;
                    transform: scale(1.4);
                }
                margin: 0 5px;
                display: inline-block;
                transition: all .2s ease;
            }
        }
    }
    footer {
        padding: 10px 25px;
        font-size: 1.8rem;
        text-align: right;
        display: flex;
        .text {
            flex: 2;
            font-size: 1.3rem;
            margin-right: 20px;
            margin-top: 3px;
            color: #777;
        }
        .img-author {
            flex: 2;
            max-width: 50px;
            max-height: 50px;
            border-radius: 50%;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        }
    }
    .answers {
        .answer {
            border-top: 1px solid #eee;
            padding: 20px 30px 10px 20px;
            line-height: 150%;
            .timestamp, .author {
                display: inline-block;
                padding-left: 5px;
                font-size: 1.2rem;
                color: #555;
            }
        }
        .add-answer {
            input {
                width: 100%;
                padding: 15px;
                border: 1px solid $accent-color;
            }
        }
    }
}
