.splash-screen {
    width: 100%;
    height: 100vh;
    padding: 10% 20%;
    color: #FFF;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/splashscreen-bg.jpg');
    background-position: center;
    background-size: cover;
    p {
        padding: 3px 0 8px;
    }
    .jds-box {
        margin-top: 20px;
        padding: 25px;
        text-align: center;
        border: 2px solid #FFF;
    }
    footer {
        font-size: 12px;
        position: absolute;
        bottom: 25px;
        padding-left: 15px;
        p {
            text-align: center;
            a {
                border: 2px solid transparent;
                border-radius: 4px;
                padding: 3px 5px 3px 25px;
                background: no-repeat url("https://g.twimg.com/Twitter_logo_blue.png");
                background-size: 17px;
                background-position: 4px;
                transition: all .2s ease;
                &:hover {
                    border-color: #eee;
                    color: white;
                }
            }
        }
    }
}
