.small-user-card {
	@include clearfix();
	
	margin: 25px 0;
	text-align: right;

	ul {
		@include float(right);
		list-style-type: none;
		padding: 10px 15px;
		font-size: 13px;
	}

	img {
		@include float(right);
		max-width: 60px;
		max-height: 60px;
	}
}