mixin add-entity(placeholder, button)
    .discussion
        .content
           input(type="text" name="topic" id="topic" placeholder="#{placeholder}")
        footer
           input(type="submit" class="btn btn-primary btn-large" id="submit" value="#{button}")
