mixin add-entity-animation()
    .add-topic
        button#new-entity.btn.ghost.dark
            span.glyphicon.glyphicon-plus  
            |  Voeg een topic toe
    block script
        script.
            $(document).ready(function() {
                $('#new-entity').click(function() {
                        
                    console.log('click');

                });
            })
        