mixin small-user-card(user)
    if user
        .small-user-card
            img.img-circle(src="http://graph.facebook.com/#{user.id}/picture?type=large")
            ul
                li Hey, #{user.name.givenName}
                li 
                    a(href="/logout") logout
    else
        .small-user-card.notLoggedIn
            a.btn.ghost.dark(href="/auth/facebook") Login with facebook
