extends ../layout

block content
    .container-fluid
        header.row
            .col-md-8
                h1 Start een topic
            .col-md-4 
                mixin small-user-card(user)
        .row
            .col-md-8
                div
                    label Topic:
                    input(type="text" name="topic" id="topic")
                div
                    input(type="submit" class="btn btn-primary btn-sm" id="submit" value="Add")
    script(src="/socket.io/socket.io.js")
    script(src="/js/addDiscussion.js")