extends ../layout

block content
    .container-fluid
        header.row
            .col-md-8
                h1#title Searching topics in your surroundings
            .col-md-4 
                mixin small-user-card(user)
        .row
            mixin back-button('', 'Home')
            .col-md-12
                #loader.sk-spinner.sk-spinner-three-bounce
                    .sk-bounce1
                    .sk-bounce2
                    .sk-bounce3
            //.col-md-12
                 //mixin add-entity-animation("My awesome topic", "Add this topic")
        #discussions.row.top-buffer
            .col-md-4 
                mixin add-entity("My awesome topic", "Add this topic")

        .modal.fade.jds-model-override#myModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
            .modal-dialog
            .modal-content
                .modal-body 
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h1.modal-title#myModalLabel Hi, who are you?
                    a.btn.ghost.dark(href="/auth/facebook") Login with facebook
    script(src="/socket.io/socket.io.js")
    script(src="/lib/moment/moment.js")
    script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
    script(src="/js/discussionList.js")
