extends ../layout

block content
    .container-fluid
        header.row
            .col-md-8
                h1 #{title}
            .col-md-4 
                mixin small-user-card(user)
        mixin back-button('discussion', 'Discussions')
        #questions.row
            each question in questions
                .col-md-3
                    .question
                        .content
                            p #{question.question}
                            .icons
                                //i.fa.fa-chevron-up.fa-2x
                                //i.fa.fa-chevron-down.fa-2x
                        footer
                            .text
                                p.timestamp Asked <span class="data-timestamp" id="#{question._id}" data-id="#{question._id}">#{question.time}</span>
                                p.author by #{question.author.firstname} #{question.author.lastname}
                            img.img-author(src="http://graph.facebook.com/#{question.author.facebookId}/picture?type=large")
                        .answers
                            if question.answers
                                each answer in question.answers
                                    .answer
                                        p.answer-text #{answer.answer}
                                            span.author - #{answer.author.firstname} #{answer.author.lastname},
                                            span.timestamp #{answer.time}
                            .add-answer
                                input(type="text" id="#{question._id}" class="add-answer-input" placeholder="Answer this question")
            .col-md-3
                mixin add-entity("My awesome question", "Ask this question")
                input(id="topicID" type="hidden" value="#{topicID}")
        .modal.fade.jds-model-override#myModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
            .modal-dialog
            .modal-content
                .modal-body
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h1.modal-title#myModalLabel Hi, who are you?
                    a.btn.ghost.dark(href="/auth/facebook") Login with facebook
    script(src="/socket.io/socket.io.js")
    script(src="/lib/moment/moment.js")
    script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
    script(src="/js/questionList.js")
    script(src="/js/answerList.js")

