extends layout

block content
    .container
        h1 You are logged in.
        p.lead Say something worthwhile here.
        a(href="/") Go home
        br
        a(href="/ping") Ping
        br
        br
        a(href="/logout") Logout
