extends layout

block content
    .splash-screen
        .container-fluid
            .row
                .col-md-6
                    h1 Live Q &amp; A 
                        small Beta
                    h2 Questions by and for you
                    p Are you curious to know more about a topic handled in a presentation, do you have a question about a certain aspect, or are you engaged to help people in general? Live Q &amp; A helps you by offering a platform suited for asking questions about an ongoing topic in your surroundings.
                    a.btn.ghost(href="/discussion") To the topics!
                .col-md-4.col-md-offset-2
                    .jds-box
                        h2 Who are you?
                        p To have full access to all functionalities of Live Q &amp; A, we'd love to get to know you.
                        a.btn.ghost.facebook(href="/auth/facebook") Login with facebook
        
        footer
            p
                | created by 
                a(href="https://twitter.com/Jasper_De_Smet") @jasper_de_smet
                    btn
                    i
                | &nbsp;&amp;&nbsp;
                a(href="https://twitter.com/VanderElst_P") @VanderElst_P
                    btn
                    i
