include mixins/small-user-card-mixin.jade
include mixins/add-entity-mixin.jade
include mixins/add-entity-animation-mixin.jade
include mixins/back-button-mixin.jade

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    //- We hebben jquery al nodig
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")

    block content
    block script
    
    if user
        script.
            // user komt uit req via view
            // user is ingelogged
            var frontEndUser = !{JSON.stringify(user)};
             localStorage.setItem('user', JSON.stringify(frontEndUser));
            // --> Nu kan je in front-end var user = JSON.parse(localStorage.getItem('user')); doen
            var user = JSON.parse(localStorage.getItem('user'));
    else 
        script.
            //user is niet ingelogged
            localStorage.removeItem('user');
        
