@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
/*
 *  Usage:
 *
 *    <div class="sk-spinner sk-spinner-rotating-plane"></div>
 *
 */
/* line 10, src/public/lib/spinkit/scss/spinners/1-rotating-plane.scss */
.sk-spinner-rotating-plane.sk-spinner {
  width: 30px;
  height: 30px;
  background-color: #333;
  margin: 0 auto;
  animation: sk-rotatePlane 1.2s infinite ease-in-out;
}

@keyframes sk-rotatePlane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
/*
 *  Usage:
 *
 *    <div class="sk-spinner sk-spinner-wave">
 *      <div class="sk-rect1"></div>
 *      <div class="sk-rect2"></div>
 *      <div class="sk-rect3"></div>
 *      <div class="sk-rect4"></div>
 *      <div class="sk-rect5"></div>
 *    </div>
 *
 */
/* line 16, src/public/lib/spinkit/scss/spinners/3-wave.scss */
.sk-spinner-wave.sk-spinner {
  margin: 0 auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}
/* line 24, src/public/lib/spinkit/scss/spinners/3-wave.scss */
.sk-spinner-wave div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}
/* line 33, src/public/lib/spinkit/scss/spinners/3-wave.scss */
.sk-spinner-wave .sk-rect2 {
  animation-delay: -1.1s;
}
/* line 34, src/public/lib/spinkit/scss/spinners/3-wave.scss */
.sk-spinner-wave .sk-rect3 {
  animation-delay: -1s;
}
/* line 35, src/public/lib/spinkit/scss/spinners/3-wave.scss */
.sk-spinner-wave .sk-rect4 {
  animation-delay: -0.9s;
}
/* line 36, src/public/lib/spinkit/scss/spinners/3-wave.scss */
.sk-spinner-wave .sk-rect5 {
  animation-delay: -0.8s;
}

@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}
/* line 1, src/public/scss/_loading.scss */
.sk-spinner-three-bounce.sk-spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}

/* line 5, src/public/scss/_loading.scss */
.sk-spinner-three-bounce div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
  animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 16, src/public/scss/_loading.scss */
.sk-spinner-three-bounce .sk-bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

/* line 19, src/public/scss/_loading.scss */
.sk-spinner-three-bounce .sk-bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-threeBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-threeBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* line 1, src/public/scss/modules/_discussion.scss */
.discussion {
  margin: 0 0 35px;
  padding: 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  background-color: #FFF;
  transition: all .3s ease;
  text-align: center;
  min-height: 131px;
}
/* line 7, src/public/scss/modules/_discussion.scss */
.discussion .content {
  padding: 25px 25px 10px;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 2.1rem;
}
/* line 14, src/public/scss/modules/_discussion.scss */
.discussion .content input {
  width: 100%;
  font-size: 2.1rem;
  border: none;
  border-bottom: 2px solid #333;
  color: #333;
  padding: 3px 0;
  outline: none;
  background-color: transparent;
  text-align: center;
}
/* line 26, src/public/scss/modules/_discussion.scss */
.discussion .content ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #767676;
}
/* line 29, src/public/scss/modules/_discussion.scss */
.discussion .content :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #767676;
  opacity: 1;
}
/* line 33, src/public/scss/modules/_discussion.scss */
.discussion .content ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #767676;
  opacity: 1;
}
/* line 37, src/public/scss/modules/_discussion.scss */
.discussion .content :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #767676;
}
/* line 42, src/public/scss/modules/_discussion.scss */
.discussion footer {
  padding: 10px 25px 25px;
  font-size: 1.8rem;
}

/* line 48, src/public/scss/modules/_discussion.scss */
.jds-model-override {
  top: 50%;
  margin-top: -125px;
  width: 100%;
}
/* line 56, src/public/scss/modules/_discussion.scss */
.jds-model-override .modal-content {
  border-radius: 0;
  padding: 0 0 15px;
  text-align: center;
}
/* line 61, src/public/scss/modules/_discussion.scss */
.jds-model-override .modal-content h1 {
  margin-bottom: 15px;
}

/* line 1, src/public/scss/modules/_question.scss */
.question {
  margin: 0 0 35px;
  padding: 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  background-color: #FFF;
  transition: all .3s ease;
}
/* line 3, src/public/scss/modules/_question.scss */
.question .content {
  background-color: #ecf0f1;
  display: flex;
  padding: 25px 25px 10px;
}
/* line 7, src/public/scss/modules/_question.scss */
.question .content p {
  flex: 2;
  font-family: "Roboto Slab", serif;
  font-size: 2.1rem;
}
/* line 12, src/public/scss/modules/_question.scss */
.question .content .icons {
  flex: 1;
}
/* line 14, src/public/scss/modules/_question.scss */
.question .content .icons .fa {
  margin: 0 5px;
  display: inline-block;
  transition: all .2s ease;
}
/* line 15, src/public/scss/modules/_question.scss */
.question .content .icons .fa:hover {
  cursor: pointer;
  color: #2ecc71;
  transform: scale(1.4);
}
/* line 26, src/public/scss/modules/_question.scss */
.question footer {
  padding: 10px 25px;
  font-size: 1.8rem;
  text-align: right;
  display: flex;
}
/* line 31, src/public/scss/modules/_question.scss */
.question footer .text {
  flex: 2;
  font-size: 1.3rem;
  margin-right: 20px;
  margin-top: 3px;
  color: #777;
}
/* line 38, src/public/scss/modules/_question.scss */
.question footer .img-author {
  flex: 2;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
/* line 47, src/public/scss/modules/_question.scss */
.question .answers .answer {
  border-top: 1px solid #eee;
  padding: 20px 30px 10px 20px;
  line-height: 150%;
}
/* line 51, src/public/scss/modules/_question.scss */
.question .answers .answer .timestamp, .question .answers .answer .author {
  display: inline-block;
  padding-left: 5px;
  font-size: 1.2rem;
  color: #555;
}
/* line 59, src/public/scss/modules/_question.scss */
.question .answers .add-answer input {
  width: 100%;
  padding: 15px;
  border: 1px solid #2ecc71;
}

/* line 1, src/public/scss/modules/_splashscreen.scss */
.splash-screen {
  width: 100%;
  height: 100vh;
  padding: 10% 20%;
  color: #FFF;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/splashscreen-bg.jpg");
  background-position: center;
  background-size: cover;
}
/* line 9, src/public/scss/modules/_splashscreen.scss */
.splash-screen p {
  padding: 3px 0 8px;
}
/* line 12, src/public/scss/modules/_splashscreen.scss */
.splash-screen .jds-box {
  margin-top: 20px;
  padding: 25px;
  text-align: center;
  border: 2px solid #FFF;
}
/* line 18, src/public/scss/modules/_splashscreen.scss */
.splash-screen footer {
  font-size: 12px;
  position: absolute;
  bottom: 25px;
  padding-left: 15px;
}
/* line 23, src/public/scss/modules/_splashscreen.scss */
.splash-screen footer p {
  text-align: center;
}
/* line 25, src/public/scss/modules/_splashscreen.scss */
.splash-screen footer p a {
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 3px 5px 3px 25px;
  background: no-repeat url("https://g.twimg.com/Twitter_logo_blue.png");
  background-size: 17px;
  background-position: 4px;
  transition: all .2s ease;
}
/* line 33, src/public/scss/modules/_splashscreen.scss */
.splash-screen footer p a:hover {
  border-color: #eee;
  color: white;
}

/* line 1, src/public/scss/modules/_user.scss */
.small-user-card {
  margin: 25px 0;
  text-align: right;
}
/* line 2, src/public/scss/_mixins.scss */
.small-user-card:after {
  content: "";
  display: table;
  clear: both;
}
/* line 7, src/public/scss/modules/_user.scss */
.small-user-card ul {
  display: block;
  float: right;
  list-style-type: none;
  padding: 10px 15px;
  font-size: 13px;
}
/* line 14, src/public/scss/modules/_user.scss */
.small-user-card img {
  display: block;
  float: right;
  max-width: 60px;
  max-height: 60px;
}

/* line 17, src//public/scss/style.scss */
* {
  box-sizing: border-box;
}

/* line 25, src//public/scss/style.scss */
body {
  margin: 0 auto;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* line 31, src//public/scss/style.scss */
a {
  color: #00B7FF;
}
/* line 34, src//public/scss/style.scss */
a.no-style {
  color: #333;
}
/* line 36, src//public/scss/style.scss */
a.no-style:hover {
  text-decoration: none;
}

/* line 42, src//public/scss/style.scss */
.btn {
  transition: all .2s ease;
}
/* line 44, src//public/scss/style.scss */
.btn.ghost {
  border: 2px solid #FFF;
  color: #FFF;
  background-color: transparent;
}
/* line 49, src//public/scss/style.scss */
.btn.ghost.dark {
  border: 2px solid #333;
  color: #333;
}
/* line 54, src//public/scss/style.scss */
.btn.ghost.call-to-action {
  border-color: #D80000;
  color: #D80000;
}
/* line 58, src//public/scss/style.scss */
.btn.ghost:hover {
  border-color: #2ecc71;
}
/* line 64, src//public/scss/style.scss */
.btn.facebook:hover {
  border-color: #3B5998;
  background-color: #3B5998;
}

/* line 71, src//public/scss/style.scss */
.back-btn {
  margin-bottom: 20px;
}

/* line 75, src//public/scss/style.scss */
header {
  margin: 0 0 30px;
  padding: 0 0 20px;
}

/* line 80, src//public/scss/style.scss */
.top-buffer {
  margin-top: 20px;
}
