@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin float($direction) {
	display: block;
	float: $direction;
}

@mixin card($padding: 25px) {
	margin: 0 0 35px;
  	padding: $padding;
  	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  	background-color: #FFF;
    transition: all .3s ease;
}

@mixin card-appear{

}
