@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

@import "../lib/spinkit/scss/spinners/1-rotating-plane";
@import "../lib/spinkit/scss/spinners/3-wave";

$roboto_slab: 'Roboto Slab', serif;
$accent-color: #2ecc71;

@import "_mixins.scss";
@import "loading.scss";
@import "modules/_discussion.scss";
@import "modules/_question.scss";
@import "modules/_splashscreen.scss";
@import "modules/_user.scss";


* {
    box-sizing: border-box;
}

html {
	//font-size: 62.5%;
}

body {
	margin: 0 auto;
	//font-size: 1.4rem;
  	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  	color: #00B7FF;

  	&.no-style {
		color: #333;
		&:hover {
			text-decoration: none;
		}
	}
}

.btn {
    transition: all .2s ease;
	&.ghost {
		border: 2px solid #FFF;
		color: #FFF;
		background-color: transparent;

		&.dark {
			border: 2px solid #333;
			color: #333;
		}

		&.call-to-action {
			border-color: #D80000;
			color: #D80000;
		}
        &:hover {
            border-color: $accent-color;
        }
	}

	&.facebook {
		&:hover {
            border-color: #3B5998;
            background-color: #3B5998;
        }
	}
}

.back-btn {
    margin-bottom: 20px;
}

header {
	margin: 0 0 30px;
  	padding: 0 0 20px;
}

.top-buffer { margin-top:20px; }

